# identifiants MinIO
MINIO_ENDPOINT=http://localhost:port
ACCESS_KEY=
SECRET_KEY=

# postgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#airflow
AIRFLOW_WWW_USER_USERNAME=
AIRFLOW_WWW_USER_PASSWORD=